/*General*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif ;
}

.container{
    margin: 0 auto;
    width: 85%;
    max-width: 1170px;
    min-height: 50px;
    display: flex;
}

p{
    font-size: 20px;
    text-align: center;
}

h2{
    font-size: 60px;
}

.button1{
    background-color: #ffffff;
    border-radius: 30px;
    border: white solid 1px;
    color: black;
    padding: 10px 15px;
    margin: 10px;
}

.button2{
    background-color: #23272A;
    border-radius: 30px;
    border: #23272A solid 1px;
    color: white;
    padding: 10px 15px;
    margin: 10px;
}

.button3{
    background-color: #8EA1E1;
    border-radius: 30px;
    border: #8EA1E1 solid 1px;
    color: white;
    padding: 10px 15px;
    margin: 10px;
}

/*HEADER*/

header{
    background-color: #255EE9;
    color: white;
    min-height: 40px;
    padding: 40px;
    padding-bottom: 30px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: black;
}

.logo{
    width: 20%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #255EE9;
}

nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li{
    margin: 0px 15px;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    background-color: #255EE9;
}


/*jumbotron*/

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.jumbotron h2, .jumbotron p{
    color: white;
}

.main-content{
    height: 400px;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-content .cta{
    display: flex;   
}

.main-content p{
    width: 40%;
}

/*MAIN*/

.main-wrapper1,.main-wrapper2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    padding: 40px;
}

.main-wrapper3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.caption{
    width: 40%;
    padding-top: 32px;
}

.caption p{
    text-align: left;
}

.caption h2{
    font-size: 44px;
    margin-bottom: 20px;
}

.main-wrapper3 h2{
    font-size: 48px;
    margin-bottom: 31px;
    text-align: center;
}

.main-wrapper3 img{
    max-width: 100%;
    margin-bottom: 30px;
}

h4{
    font-size: 28px;
    text-align: center;
    background-image: url(../img/stars.svg);
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}

/*footer*/

footer{
    background-color: #23272A;
    padding: 40px;
}

.footer-social{
    background-color: #23272A;
    width: 40%;
}

h5{
    font-size: 30px;
    color: #7289DA;
    margin-bottom: 20px;
}

.footer-social img{
    max-width: 30px;
}

.footer-social span{
    color: white;
    margin-left: 5px;
}
.fa, .fa-chevron-dowm{
    color: white;
}

.fa-brands .fa-facebook, 
.fa-instagram,
.fa-twitter,
.fa-youtube {
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
}

.col-menu{
    background-color: rgb(53, 124, 124);
    width: 20%;
    border-style: dotted;
    border-color: white;
}

hr{
    margin: 20px 0;
}

.button-action{
    background-color: aquamarine;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
