/*General*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif ;
}

.container{
    margin: 0 auto;
    width: 85%;
    max-width: 1170px;
    min-height: 50px;
    display: flex;
}

p{
    width: 40%;
    font-size: 20px;
    text-align: center;
}

h2{
    font-size: 60px;
}

.button1{
    background-color: #ffffff;
    border-radius: 30px;
    border: white solid 1px;
    color: black;
    padding: 10px 15px;
    margin: 10px;
}

.button2{
    background-color: #23272A;
    border-radius: 30px;
    border: #23272A solid 1px;
    color: white;
    padding: 10px 15px;
    margin: 10px;
}
/*HEADER*/

header{
    background-color: #255EE9;
    color: white;
    min-height: 40px;
    padding: 40px;
    padding-bottom: 30px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: black;
}

.logo{
    width: 20%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #255EE9;
}

nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li{
    margin: 0px 15px;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    background-color: #255EE9;
}


/*jumbotron*/

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron h2, .jumbotron p{
    color: white;
}

.main-content{
    height: 400px;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-content .cta{
    display: flex;   
}

/*MAIN*/

.main-wrapper1,.main-wrapper2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 40px;
}

.main-wrapper2{
    background-color: lightgray;
}

.main-wrapper3{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main-wrapper3 .container div{
    background-color: green;
    min-height: 550px;
    min-width: 100%;
    border-style: dotted;
    border-color: black;
}

.illustration{
    background-color: darkcyan;
    height: 400px;
    width: 60%;
    border-style: dotted;
    border-color: black;
}

.caption{
    background-color: pink;
    height: 400px;
    width: 40%;
    border-style: dotted;
    border-color: black;
}

/*footer*/

footer{
    background-color: rgb(29, 28, 28);
    padding: 40px;
}

.footer-social{
    background-color: indianred;
    min-height: 400px;
    width: 40%;
    border-style: dotted;
    border-color: black;
}


.col-menu{
    background-color: rgb(53, 124, 124);
    width: 20%;
    border-style: dotted;
    border-color: white;
}

hr{
    margin: 20px 0;
}

.button-action{
    background-color: aquamarine;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.button{
    border-style: dotted;
    border-color: black;
    background-color: rgb(235, 123, 145);
}*/